@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');

body {
   background-color: rgb(18, 104, 1);
   color: white;
   font-family: 'Raleway';
   user-select: none; 
}

h1, h3 {  
   margin: 0;
}

.navbar {
   text-align: center;
   background-color: black;
   padding: 15px;
   margin-bottom: 10px;
}

h1 {
   font-size: 28px;
   letter-spacing: 1px;
   font-weight: 600;
}

.buttons {
   text-align: center;
}

.btn {
   color: white;
   border: 0; 
   padding: 7px 15px;
   border-radius: 5px;
   margin-left: 5px;
   cursor: pointer;
   margin-bottom: 10px;
}

.bg-red {
   background-color: rgb(253, 34, 34);
}

.bg-red:hover {
   background-color: rgb(155, 25, 25);
}

.bg-blue {
   background-color: rgb(23, 104, 255);
}

.bg-blue:hover {
   background-color: rgb(16, 68, 165);
}

.btn-disabled {
   background-color: rgb(12, 53, 129);
   cursor: auto;
   color: gray;
}

.table {
   margin-left: 80px;
}

.jugador, .computadora {
   margin-bottom: 15px;
   min-height: 325px;
}

.jugador h3, .computadora h3 {
   font-size: 30px;
   font-weight: 300;
   margin-bottom: 10px;
}

.jugador img, .computadora img {
   width: 170px;
   position: relative;
   left: 120px; 
   margin-left: -120px;
   height: 268px;
}

.mensaje {
   position: absolute;
   top: 30%;
   left: 30%;
   font-size: 20px;
   text-align: center;
}

.mensaje span {
   color: yellow;
}

.mensaje span:hover {
   color: black;
   cursor: pointer;
}